<!DOCTYPE html>
<html>
    <head>
        <title> Create a Booking </title>
        

    </head>

    <body>
        {% include 'page_header.html' %}

        <h2>Booking Information</h2>
        <a>Hotel: {{ hotel.name }}</a> <br>
        <a>Room: {{ room.room_designation }}</a> <br>
        <a>Beds: {{ room.room_beds }}</a> <br>
        <a>Features: {{ room.room_features }}</a> <br>
        <a>Cost per Night: £{{ room.price_per_night }}</a> <br> <br>
        
        <form method="POST">
            {% csrf_token %} 
            {{ form }}
            <input type="submit" value="Confirm Booking"> 
        </form>

        <div>
            {% if page_state == 2 %}
                <a> Some Fields have been filled incorrectly.</a>
            {% elif page_state == 3 %}
                <a> Check In Date cannot be in the past</a>
            {% elif page_state == 4 %}
                <a> Check Out Date cannot be in the past </a>
            {% elif page_state == 5 %}
                <a> Check Out Date cannot be before Check In date </a>
            {% endif %}  
        </div>

    </body>
</html>